<div>
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ currentCycle?.label || 'Sem informação' }}</h2>
    </div>
    <div class="col-12 text-center">
      <h2>{{ displayTimer }}</h2>
    </div>
    <div class="col-12 text-center">
      <app-button (onClick)="handleOnStart($event)">
        <i class="fa-solid fa-play"></i>
        <span>Play</span>
      </app-button>
      <app-button (onClick)="handleOnPause($event)">
        <i class="fa-solid fa-pause"></i>
        <span>Pause</span>
      </app-button>
      <app-button (onClick)="handleOnSkip($event)">
        <i class="fa-solid fa-forward"></i>
        <span>Skip</span>
      </app-button>
    </div>
  </div>
</div>
