.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav-container--menu {
  padding: 15px;
}

.app-sidenav-container--content {
  padding: 15px;
}

.app-sidenav-container--content--open-close-sidenav {
  position: absolute;
  top: 0;
  left: 0;
}
