<main>
  <mat-sidenav-container
    class="app-sidenav-container"
    >
    <mat-sidenav
      class="app-sidenav-container--menu"
      #sidenav mode="side"
      [(opened)]="opened"
      (opened)="handleSidenavOpen()"
      (closed)="handleSidenavClosed()"
      >
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content
      class="app-sidenav-container--content"
      >
      <button
        class="app-sidenav-container--content--open-close-sidenav"
        mat-raised-button
        (click)="sidenav.toggle()"
        >
        <mat-icon
          class="mat-protected-no-space"
          aria-hidden="false"
          aria-label="Menu icon"
          [fontIcon]="opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'"
          ></mat-icon>
      </button>
      <router-outlet/>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

