html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control {
  background-color: transparent;
  border: none;
  mat-slide-toggle {
    .mat-slide-toggle-label {
      padding-left: 10px;
      color: white;
    }
  }
}
