<section>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <app-button [routerLink]="''" mx="0">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      </app-button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-button [routerLink]="'/customodoro'" mx="0">
        <i class="fa-regular fa-clock"></i>
        <span>Customodoro</span>
      </app-button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-button [routerLink]="'/settings'" mx="0">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
      </app-button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-button [routerLink]="'/about'" mx="0">
        <i class="fa-solid fa-circle-info"></i>
        <span>About</span>
      </app-button>
    </mat-list-item>
  </mat-list>
</section>
